
    <div class="wrapper-inner">
        <div class="banner-info"></div>
        <div class="product-wrapper">
            <div class="product-inner-wrapper">
                <span class="product-title">Cap</span>
                <div class="product-info-wrapper">
                    <div class="product-info" [routerLink]="['/editor']">
                        <img src="app/assets/images/hat.png" />
                        <span>jkhjajsd ankda daskhsh dasdn,b</span>
                    </div>
                    <div class="product-info">
                        <img src="app/assets/images/hat.png" />
                        <span>jkhjajsd ankda daskhsh dasdn,b</span>
                    </div>
                    <div class="product-info">
                        <img src="app/assets/images/hat.png" />
                        <span>jkhjajsd ankda daskhsh dasdn,b</span>
                    </div>
                    <div class="product-info">
                        <img src="app/assets/images/hat.png" /> 
                        <span>jkhjajsd ankda daskhsh dasdn,b</span>
                    </div>
                    <div class="product-info">
                        <img src="app/assets/images/hat.png" />
                        <span>jkhjajsd ankda daskhsh dasdn,b</span>
                    </div>
                    <div class="product-info">
                        <img src="app/assets/images/hat.png" />
                        <span>jkhjajsd ankda daskhsh dasdn,b</span>
                    </div>
                    <div class="product-info">
                        <img src="app/assets/images/hat.png" />
                        <span>jkhjajsd ankda daskhs  hdasdn,b</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



